h2{
    color:#46447c;
}
div.failframe {
    border: #961717;
    border-style: solid;
    border-width: 4px;
    padding: 20px;
    color: #540b0b;
    font-weight: bolder;
}
div.successframe {
    border: #346622;
    border-style: solid;
    border-width: 4px;
    padding: 20px;
    color: #234019;    
    font-weight: bolder;
}

td.signerAttrName{
    padding-right: 20px;
    color: #915608;
}
td.signerAttrValue{
    
}