<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" th:xmllang="${#locale.language}">
  <head th:insert="~{fragments/base :: headerFragment}"></head>
  <body>
    <header th:replace="~{fragments/header :: splogotype(url = ${idmConsent.getSpInfo().getLogoUrl()})}"></header>

    <main class="container main" id="main">
      <div th:replace="~{fragments/header :: language(languages = ${languages}, path='/extauth/idmconsent')}"></div>

      <div class="row" id="mainRow">
        <div class="col-sm-12 content-container">
          <div class="content-heading">
            <h1
              th:text="#{connector.ui.idm.consent.subtitle(${idmConsent.getSpInfo().getDisplayName()} ?: #{connector.ui.sp-generic-the})}"
            >
              Share Swedish identifier with Example organization?
            </h1>
          </div>

          <p th:text="#{connector.ui.idm.consent.initial-text}">
            You have linked your Swedish personal identity number or coordination number to your european eID.
          </p>

          <p th:text="#{connector.ui.idm.consent.question(${idmConsent.getSpInfo().getDisplayName()} ?: #{connector.ui.sp-generic-the})}">
            Do you want to share it with Example organization?
          </p>

          <form class="form-inline" method="POST" action="#" th:action="@{/extauth/idmresult}" id="consentForm">
            <button class="btn btn-secondary mr-2" type="submit" name="action" value="cancel" id="denyButton">
              <span th:text="#{connector.ui.idm.consent.button.deny}">No, do not share</span>
            </button>
            <button type="submit" class="btn btn-primary" name="action" value="ok" id="allowButton">
              <span th:text="#{connector.ui.idm.consent.button.ok}">Yes, share</span>
            </button>
          </form>
        </div>
      </div>
    </main>

    <footer th:replace="~{fragments/footer :: copyright(accessibilityUrl = ${idmConsent.getAccessibilityUrl()})}"></footer>

    <th:block th:insert="~{fragments/base :: scriptFragment}"></th:block>
    <th:block th:insert="~{fragments/base :: scriptFragment2}"></th:block>
  </body>
</html>
