<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" th:xmllang="${#locale.language}">
  <head th:insert="~{fragments/base :: headerFragment}"></head>
  <body onload="document.forms[0].submit()">
    <form method="POST" action="#" th:action="${action}">
      <input type="hidden" name="SAMLResponse" th:value="${SAMLResponse}" />
      <input th:if="${RelayState != null}" type="hidden" name="RelayState" th:value="${RelayState}" />

      <noscript>
        <header th:replace="~{fragments/header :: logotype}"></header>

        <main class="container main">
          <div class="row" id="mainDiv">
            <div class="col-sm-12 content-container">
              <div class="row">
                <div class="col-sm-12 content-heading">
                  <h2 th:text="#{connector.ui.title}">Heading</h2>
                </div>
                <div class="col-sm-12">
                  <p class="info" th:text="#{connector.ui.nojs}">No Javascript</p>
                </div>
              </div>

              <hr class="full-width" />

              <div class="col-sm-12 section">
                <button id="submitButton" type="submit" class="btn btn-primary">
                  <span th:text="#{connector.ui.button.continue}">Continue</span>
                </button>
              </div>
            </div>

            <footer th:replace="~{fragments/footer :: only-copyright}"></footer>
          </div>
        </main>
      </noscript>
    </form>
  </body>
</html>
